<form id ='twitter' action='/newtweet' method='POST'>
  <textarea name='tweet' rows="4" cols="50" ></textarea>
  <input type="submit">
</form>

<img id='cat' src='Dance_cat.gif'>

<div id='done'> Its been posted </div>